/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif@1&family=Work+Sans:wght@500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white
}

.my-borderCol {
  border: 1px solid rgba(255, 255, 255, 0.140);
}

.post-input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.postTag {
  text-overflow: unset;
  word-wrap: break-word;
}

/* .auth-header {
  font-family: 'Work Sans', sans-serif;
}

.nav-text-font {
  font-family: 'PT Serif', serif;
} */